# LaTeX auxiliary files
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

# Bibliography auxiliary files
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

# Build tool auxiliary files
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

# Build directories
_minted-*/

# Backup files
*~
*.bak
*.sav

# OS files
.DS_Store
Thumbs.db

*.md

03_paper/03_Sensing_Platform/01_USV_Platform/01_Sensors/thompson2023_sensor_platforn.pdf

scripts/parse_main_2subfiles.py

scripts/querry_tex_imgs.sh

scripts/querry_tex_toc_labels.sh

scripts/querry_tex_toc.sh

scripts/querry_tex_w_sub_csv.sh

scripts/querry_tex_w_sub.sh

sections/literatureReview_v04.txt
